/* {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    border: 1px solid black;
    margin: 22px;
    border-radius: 14px;
    font-weight: 700;
    font-size: 22px;
    box-shadow: 6px 12px #62543;
} */

/* .Product_List{
    display: flex;
    background-color: brown;
} */

/* .product_list{
    background-color: rgb(235, 245, 124);
    margin:0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}
.product_list_box{
    background-color: grey;
    border: 1px solid black;
    width: 400px;
    padding: 28px;
    border-radius: 16px;
    background-color: rgba(201, 191, 198, 0.9);
    margin: 24px 10px;
    
} */


.flexbox{
    border: 1px solid black;
    width: 400px;
    padding: 20px;
    border-radius: 14px;
    background-color: rgba(75, 237, 118, 0.45);
    margin: 12px 16px;
   
}

.item-key {
    font-weight: 700;
    margin: 14px 0;
}

/* .flexbox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
} */